* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: url(ty.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode:multiply;
    
}
.kapsa {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.kutu {
  background: #1788dfe5 !important;
  width: 17rem !important;
  height: 400px !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.üst {
  height: 40%;
  width: 100%;
  display: flex;
}
.üst-sol {
  width: 50%;

  height: 100%;
  font-size: 5rem;
  margin-right: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
}
.üst-sag {
  width: 50%;

  height: 50%;
  text-align: start;
  position: relative;
}
img {
  width: 150px;
  height: 150px;
  left: -30px;

  position: absolute;
}
.alt {
  height: 45%;
  width: 100%;
  display: flex;
  align-items: center;
}
.alt-sol {
  width: 60%;

  height: 100%;
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.alt-sag {
  width: 40%;

  height: 100%;
  display: flex !important;
  align-items: start !important;
  justify-content: center !important;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}
.alert {
  text-align: center;
  display: none;
}
input {
  outline: none;
  border: none;
}

.sil {
  position: absolute;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  right: 0;
  top: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  font-size: 1.5rem;
}
